
#Intelli J IDEA Module file
*.iml

#database
*.db

#keycloak
keycloak-15.0.2/
*.trace.db
*.log

# Created by .ignore support plugin (hsz.mobi)
workspace.xml

.idea/

package-lock.json

node_modules/

.project

target/

static/

logs/

.DS_Store


